---
/**
 * @desc This is the base head component that is used on all pages.
 */

// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@styles/global.css";
import "@fontsource-variable/inter";
import { SEO } from "astro-seo";
import { getLocale } from "astro-i18n-aut";
import { useLang } from "@src/utils/t";
import { TWITTER_HANDLE } from "@src/consts";

interface Props {
	title: string;
	description: string;
	image?: string;
	blog: boolean;
}

const t = useLang(Astro.url);

const locale = getLocale(Astro.url);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { blog, title = t("site.title"), description = t("site.description"), image = "/blog-placeholder-1.jpg" } = Astro.props;

const resolvedImageWithDomain = blog
	? new URL(`${canonicalURL}og-image.png`, Astro.site).toString()
	: new URL("/meta/opengraph.png", Astro.site).toString();
---

<!-- Global Metadata -->
<meta charset="utf-8" />

<!-- Primary Meta Tags -->
<title>{title}</title>

<SEO
	title={title}
	description={description}
	canonical={canonicalURL}
	openGraph={{
		basic: {
			url: canonicalURL,
			title: title,
			type: "website",
			image: resolvedImageWithDomain,
		},
		optional: {
			description: description,
			siteName: title,
			locale: locale,
		},
		// image: {
		// 	alt: title,
		// 	// url: resolvedImageWithDomain,
		// },
	}}
	twitter={{
		card: "summary_large_image",
		site: canonicalURL.toString(),
		title: title,
		description: description,
		image: resolvedImageWithDomain,
		imageAlt: title,
		creator: TWITTER_HANDLE,
	}}
	extend={{
		// extending the default link tags
		link: [
			{
				rel: "icon",
				type: "image/svg+xml",
				href: "/favicon.svg",
			},
		],
		// extending the default meta tags
		meta: [
			{
				name: "generator",
				content: Astro.generator,
			},
			{
				name: "viewport",
				content: "width=device-width,initial-scale=1",
			},
			{
				name: "twitter:image",
				content: resolvedImageWithDomain,
			},
			{ name: "twitter:title", content: title },
			{ name: "twitter:description", content: "Agent" },
		],
	}}
/>
